<html>
<head>
    <title>Sistema SEFAZ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Bem vindo ao sistema de importação e buscas</h1>
        <a class="btn btn-success" href="/V1/importar" role="button">Importar arquivo SVC</a>
        <a class="btn btn-success" href="/V1/ListaProdutos" role="button">Acessar tabela de produtos</a>
    </div>
</body>
</html>